{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Keys
{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        <a class="btn" href="{{ ea_url()
            .setController('App\\Controller\\Admin\\ServerCrudController')
            .setAction('detail')
            .setEntityId(server.id) }}">
            <span class="action-label">Back to server</span>
        </a>
        <a class="btn btn-primary" href="{{ path('admin', {
            routeName: 'admin_server_keys_add',
            routeParams: {
                serverId: server.id
            }
        }) }}">
            <span class="action-label">Add</span>
        </a>
    </div>
{% endblock %}

{% set page_title_block_output %}{% block page_title %}{{ block('content_title') }}{% endblock %}{% endset %}

{% block main %}
    <table class="table datagrid ">
        <thead>
            <tr>
                <th><a>#ID</a></th>
                <th><a>Name</a></th>
                <th><a>Access url</a></th>
                <th><a>Used bytes</a></th>
                <th class="actions-as-dropdown-table-head" dir="ltr">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
                <tr>
                    <td>{{ key.id }}</td>
                    <td>
                        {% if key.name is not empty %}
                            {{ key.name }}
                        {% else %}
                            empty
                        {% endif %}
                    </td>
                    <td>{{ key.accessUrl }}</td>
                    <td>{{ (key.usedBytes / 1000 / 1000 / 1000) |number_format(2) }} GB</td>
                    <td class="actions actions-as-dropdown">
                        <div class="dropdown dropdown-actions">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item action-edit" href="{{ path('admin', {
                                    routeName: 'admin_server_keys_edit',
                                    routeParams: {
                                        serverId: server.id,
                                        id: key.id
                                    }
                                }) }}"><span class="action-label">Edit</span></a>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item action-delete text-danger" href="{{ path('admin', {
                                    routeName: 'admin_server_keys_delete',
                                    routeParams: {
                                        serverId: server.id,
                                        id: key.id
                                    }
                                }) }}" data-action-name="delete" formaction="{{ path('admin', {
                                    routeName: 'admin_server_keys_delete',
                                    routeParams: {
                                        serverId: server.id,
                                        id: key.id
                                    }
                                }) }}" data-bs-toggle="modal" data-bs-target="#modal-delete"><span class="action-label">Delete</span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
{% endblock %}
