{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Info
{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        <a class="btn btn-primary" href="{{ ea_url()
            .setController('App\\Controller\\Admin\\ServerCrudController')
            .setAction('detail')
            .setEntityId(server.id) }}">
            <span class="action-label">Back to server</span>
        </a>
    </div>
{% endblock %}

{% set page_title_block_output %}{% block page_title %}{{ block('content_title') }}{% endblock %}{% endset %}

{% block main %}
    <div class="form-panel">
        <div class="form-panel-body  show">
            <dl class="datalist">
                <div class="data-row">
                    <dt>
                        Name
                    </dt>
                    <dd>
                        {{ info.name }}
                    </dd>
                </div>
                <div class="data-row">
                    <dt>
                        Hostname for access keys
                    </dt>
                    <dd>
                        {{ info.hostnameForAccessKeys }}
                    </dd>
                </div>
                <div class="data-row">
                    <dt>
                        Port for new access keys
                    </dt>
                    <dd>
                        {{ info.portForNewAccessKeys }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
